#members{
    color:#000000;
    background-color:#0c0c0d;
  }
  .row, .parallax-container .section{
    width:100%;
  }
  .row{
    display:table;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
  }
  nav .brand-logo, nav ul a{
    color:rgb(131, 16, 16);
  }
  .button-collapse{
    color:rgb(38, 166, 154);
  }
  .parallax-container{
    min-height:380px;
    line-height:0;
    height:auto;
    color:rgba(255, 255, 255, 0.901961);
  }
  footer.gram-footer ul.collection > li.collection-header, footer.gram-footer ul.collection > li.collection-item{
    background-image:initial;
    background-position-x:0px;
    background-position-y:0px;
    background-size:initial;
    background-repeat-x:initial;
    background-repeat-y:initial;
    background-attachment:initial;
    background-origin:initial;
    background-clip:initial;
    background-color:initial;
    border-top-width:0px;
    border-right-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    border-top-style:initial;
    border-right-style:initial;
    border-bottom-style:initial;
    border-left-style:initial;
    border-top-color:initial;
    border-right-color:initial;
    border-bottom-color:initial;
    border-left-color:initial;
    border-image-source:initial;
    border-image-slice:initial;
    border-image-width:initial;
    border-image-outset:initial;
    border-image-repeat:initial;
  }
  footer.gram-footer ul.collection{
    border-top-width:0px;
    border-right-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    border-top-style:initial;
    border-right-style:initial;
    border-bottom-style:initial;
    border-left-style:initial;
    border-top-color:initial;
    border-right-color:initial;
    border-bottom-color:initial;
    border-left-color:initial;
    border-image-source:initial;
    border-image-slice:initial;
    border-image-width:initial;
    border-image-outset:initial;
    border-image-repeat:initial;
  }
  .input-field [type="checkbox"] + label, .input-field [type="radio"]:checked + label, .input-field [type="radio"]:not(:checked) + label{
    pointer-events:auto;
  }
  input:not([type]):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgb(255, 81, 0);
    -webkit-box-shadow:rgb(255, 51, 0) 0px 1px 0px 0px;
    box-shadow:rgb(255, 0, 0) 0px 1px 0px 0px;
  }
  #contact input#your-email, #contact textarea#your-message{
    color:rgb(255, 255, 255);
  }
  .icon-block .material-icons{
    font-size:inherit;
  }
  footer.page-footer{
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
  }
  .parallax{
    position:static;
  }
  section#members{
    width:100%;
    background-image:initial;
    background-position-x:initial;
    background-position-y:initial;
    background-size:initial;
    background-repeat-x:initial;
    background-repeat-y:initial;
    background-attachment:initial;
    background-origin:initial;
    background-clip:initial;
    background-color:rgb(246, 247, 249);
    padding-top:40px;
    padding-right:0px;
    padding-bottom:40px;
    padding-left:0px;
  }
  .section-title{
    color:rgb(38, 46, 65);
    margin-top:40px;
    margin-right:0px;
    margin-bottom:40px;
    margin-left:0px;
  }
  .single-member{
    background-image:initial;
    background-position-x:initial;
    background-position-y:initial;
    background-size:initial;
    background-repeat-x:initial;
    background-repeat-y:initial;
    background-attachment:initial;
    background-origin:initial;
    background-clip:initial;
    background-color:rgb(255, 255, 255);
    padding-top:60px;
    padding-right:20px;
    padding-bottom:40px;
    padding-left:20px;
    text-align:center;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
    transition-duration:0.3s;
    transition-timing-function:ease;
    transition-delay:initial;
    transition-property:all;
  }
  .single-member:hover{
    margin-top:-10px;
    box-shadow:rgba(167, 176, 211, 0.380392) 0px 1px 10px;
    -webkit-box-shadow:rgba(167, 176, 211, 0.380392) 0px 1px 10px;
  }
  .single-member .profile-img{
    width:80px;
    height:80px;
    border-top-left-radius:100%;
    border-top-right-radius:100%;
    border-bottom-right-radius:100%;
    border-bottom-left-radius:100%;
  }
  .single-member h5{
    font-size:16px;
  }
  .single-member p{
    font-size:12px;
    color:rgb(119, 119, 119);
  }
  ul.social-icons{
    width:100%;
  }
  ul.social-icons li{
    display:inline-block;
  }
  ul.social-icons li a{
    margin-top:10px;
    margin-right:10px;
    margin-bottom:10px;
    margin-left:10px;
  }
  ul.social-icons li a img{
    width:20px;
    height:20px;
  }
  .section-title.center{
    background-color:#f6f7f9;
  }
  .col.s12.m4{
    background-color:#000000;
  }
  .responsive-img{
    width:65px;
    height:141px;
  }
  @media only screen and (max-width: 992px){
    .parallax-container .section{
      position:absolute;
      top:40%;
    }
    #index-banner .section{
      top:10%;
    }
  }
  @media only screen and (max-width: 600px){
    #index-banner .section{
      top:0px;
    }
  }
  
  